.mealPlanViewContainer{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:85vh;
  color: rgb(66, 62, 62);

  .mealPlanBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 90%;
    height: 100px;
  }

  h2{
    font-size: 18px;
    font-weight: 700;
  }

  p{
    font-weight: 500;
    font-size: 18px;
  }
}